body {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}
.h-color {
  color: crimson;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
section {
  display: flex;
}
.half-width {
  font-size: 80%;
  padding: 60px;
}
.half-width image {
  font-size: 100%;
}
.image-1 {
  width: 70%;
  height: 70%;
  padding-left: 70px;
}
.link-open {
  background-image: linear-gradient(rgb(238, 47, 158), #ffa500);
  border-radius: 40px;
  text-decoration: none;
  padding: 10px 60px;
  margin-left: 2px;
  color: white;
  font-weight: 700;
}
.background-add {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}
